
body {
  font-family: Helvetica, Arial, sans-serif;
}

body * {
  box-sizing: border-box;
}

#luggage-tag {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map.section {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 50%;
}

#accel.section {
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 50%;
}

#temp.section {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 50%;
  height: 50%;
}

#alt.section {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 50%;
  height: 50%;
}

.chart-wrapper {
  position: relative;
  padding: 2em;
}

.chart {
  position: relative;
  height: 100%;
  width: 100%;
}

.y-axis {
  position: absolute;
  top: 2em;
  bottom: 2em;
  right: 2em;
  width: 40px;
}
